*,
*::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* body {
  max-width: 1260px;
  margin: 0 auto;
} */

header {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  display: flex;
  gap: 10px;
}
nav li {
  background: palevioletred;
  list-style: none;
  border-radius: 5px;
}
nav li a {
  color: white;
  padding: 5px;
}
