* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.containers {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: aliceblue;
}

.containers .hero_child_left {
  text-align: left;
  flex-basis: 50%;
}

.hero_child_left {
  padding: 10px;
}
.hero_child_left h1 {
  font-size: 28px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.hero_child_left p {
  color: gray;
  font-size: 14px;
  /* padding: 20px ; */
}
.containers .hero_child_right {
  text-align: left;
  flex-basis: 50%;
}

.hero_child_right img {
  max-width: 100%;
  border-radius: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .containers {
    flex-direction: column;
    background-color: pink;
  }
}
