@import 'tailwindcss';
@import '@heroui/styles';

@layer utilities {
  .containers {
    max-width: 1440px;
    margin: 0 auto;
  }
}

:root {
  /* Override any color variable */
  --accent: oklch(0.7 0.25 260);
  --success: oklch(0.65 0.15 155);
}
