table {
  border-collapse: collapse;
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid #000;
  padding: 5px 10px;
}

td {
  text-align: center;
  background-color: aliceblue;
}
th {
  background: green;
  color: white;
}

caption {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 4px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}
