* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}

.cards {
  /* background-color: rgb(185, 255, 255); */
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  align-items: stretch;
  justify-content: center;
  box-shadow: 0 0 10px solid #ddd;
}
.child_cards {
  transition: 0.8s all;
}
.child_cards:hover {
  transform: translateY(-5px);
}
.cards .child_cards {
  flex-basis: 30%;
  padding: 10px;
  border-radius: 10px;
  background-color: #f97f51;
}
.child_cards .card_details {
  background-color: #fea47f;
  padding: 0 8px;
  border-radius: 5px;
}
.child_cards h2 {
  font-size: 24px;
  color: white;
  /* text-align: center; */
}
.child_cards h4 {
  font-size: medium;
}
.child_cards p {
  font-size: 12px;
  margin-top: 5px;
  color: gray;
}
