* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.containers {
  padding: 10px;
  max-width: 1440px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  display: flex;
  gap: 10px;
}
nav ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
select {
  border: none;
}
fieldset {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
}

input {
  padding: 8px;
  background-color: rgb(245, 251, 251);
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}

input[type='submit'] {
  background: gray;
  padding: 8px 18px;
  width: 50%;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 18px;
  transition: 0.5s all ease-in-out;
}
input[type='submit']:hover {
  color: white;
  background-color: palevioletred;
}
.messages {
  height: 100px;
}
